* {
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.navbar-default {
	background-color: #D3D3D3;
}

#brand{
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-toggle {
	margin-top:25px;
}

#menu{
	font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.navbar-brand {
	height: 100%
}

#main-content {
	height: 1000px;
	background-color: #D3D3D3;
}

.navbar{
	border-radius:0px;
}
